<div>
    <section class="home-page">
        <img src="/images/beer.png" alt="">
        <ul class="home-pageList">
            <li> <button type="button" class="btn btn-danger btn-lg"><a href="/beers">Beers</a></button></li>
            <li><button type="button" class="btn btn-danger btn-lg"><a href="/beers">RandomBeer</a></button></li>
        </ul>
    </section>

</div>